.semester-select {
  max-width: 300px;
}

.admin-header-text {
  color: white;
  text-align: left;
  padding-top: 7px;
  padding-left: 20px;
}

.admin-username-text {
  color: white;
}

.admin-subheader {
  background-color: #ebebeb;
  align-items: center;
  justify-content: center;
  margin-top: -32px;
}

.semester-div {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: .75rem 1.25rem;
  margin-right: 2.5%;
}

.admin-container {
  width: 95%;
  margin: auto;
}

.logout-btn {
  margin-top: 7px;
}

.admin-btn {
  margin-left: 10px;
}

/* .btn-info {
  background-color: #3390CA;
}

.btn-warning {
  background-color: #FFCD03;
} */

.grayscale { 
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: gray;
  opacity: .5;
  z-index: 2;
  display: flex;
}

.grayscale-text {
  background-color: black;
  color: white;
  line-height: 50px;
  height: 50px;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  margin: auto;
}

.nav-tabs {
  background-color: rgba(0,0,0,.03);
}

.nav-tabs .nav-link {
  color: #495057;
  border-color: #dee2e6;
  height: 100%;
}

.nav-tabs .nav-link.active {
  background-color: white;
  color: black;
}

.tab-content {
  max-width: 100%;
  margin-left: 0px;
}